<div id="container">

    <div id="color">
        <img id="background" src="assets/TPH-bck-Burlesque 1.png" alt="background">
    </div>    

    <div id="container_right">
            <img id="logo" src="assets/logo.png" alt="logo">
        <form action="" method="post">
            <div class="label_container">
                <img src="assets/user-astronaut-solid 1.png" alt="icon">
                <input type="text" id="identifiant" name="identifiant" placeholder="Identifiant">
            </div>
            <div class="label_container">
                <img src="assets/lock-solid 1.png" alt="icon">
                <input type="password" id="password" name="password" placeholder="Mot de passe">
            </div>
            <div id="error">
                <img src="assets/triangle-exclamation-solid 1.png" alt="error">
                <p>error</p>
            </div>
            <input id="btn" type="submit" value="CONNEXION">
        </form>
    </div>

</div>
